# Remove extension output directories
/api/build/
/cookiediff/bin/
/login/build/
/login/frontend/gen-files/
/login/node_modules/
/login/tmp/
# symlink to mitro-core
/api/server

/login/test/mitro-test.crx

# Mac temp file annoyances
.DS_Store

# Ensure we include everything in third_party checkins
!/third_party/**

# Ignore compiled Python
*.pyc
