{{<org-template}}

{{$includes}}
  <script src="../js/URI.js"></script>
  <script src="../js/domain.js"></script>
  <script src="../js/secrets-common.js"></script>
  <script src="../js/secrets-admin-template.js"></script>
  <script src="../js/secrets-admin.js"></script>
{{/includes}}

{{$content}}
  <div class="clearfix">
    <div class="pull-left">
      <h1>All Organization Secrets</h1>
    </div>
    <a href="../html/admin-create-secret.html" class="has-secrets btn pull-right btn-primary hide">Create New Secret</a>
  </div>
  <table class="has-secrets table hide" id="secrets-table">
  </table>

  <div class="has-no-secrets list mt20 hide">
    <div class="empty-rocket">
      <div class="title"></div>
      <div class="text">
        <p>
          You have no secrets, let's add one.
          <br/>
          Adding secrets is super easy, we have two ways to do so, here's how
          <br/>
          <strong>Use our Chrome Extension or
            <a href="../html/admin-create-secret.html">Add it Manually</a>
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="mt20">
    <div class="spinny"></div>
  </div>
{{/content}}

{{$modals}}
{{/modals}}

{{/org-template}}
