{{<org-template}}

{{$includes}}
  <script src="../js/admin-create-secret.js"></script>
  <script src="../js/userdata.js"></script>
  <script src="../js/admin-secret-common.js"></script>
{{/includes}}

{{$content}}
<h1 class="mb40">Create New Secret</h1>
<div class="row">
    <div class="col-xs-8">
        <form role="form" action="POST" autocomplete="off">
            <input type="radio" style="display:none" id="is-new-secret" checked>
            <input type="text" style="display:none" id="secret-org-id">
            <div class="form-group">
                <label>Secret Name</label>
                <input type="text" class="form-control" id="secret-name" placeholder="Give your secret a name you will remember">
            </div>
            <div class="form-group mb40 for-manual">
                <label>Secret URL</label>
                <input type="text" class="form-control" id="secret-url" placeholder="e.g: http://www.google.com">
            </div>
            <div class="form-group">
                <p>Secret Type</p>
                <label class="radio-inline mr20">
                    <input type="radio" name="optionsRadios" id="is-web-password" value="option1" checked>
                    Web Password
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="is-secure-note" value="option2">
                    Secure Note
                </label>
            </div>
            <div class="form-group for-manual">
                <label>Username</label>
                <input type="text" id="secret-username" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group for-manual">
                <label>Password</label>
                <input type="password" id="secret-password" class="form-control" placeholder="Enter password">
            </div>
            <div class="form-group">
              <label>Note</label>
              <textarea id="secret-note" class="editable form-control" rows="4" style="width: 100%"></textarea>
            </div>

            <div class="buttons clearfix">
                <div class="pull-right">
                    <!--<a href="#" id="cancel-button" class="btn btn-gray btn-sm mr">CANCEL</a>-->
                    <a href="#" id="save-secret-button" class="btn btn-primary btn-sm">SAVE</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <div class="well">
            <p>Tips:</p>
            <p>Did you know you can <a class="under" href="../html/importer.html">Import Secrets</a>?</p>
        </div>
    </div>
</div>
{{/content}}
{{/org-template}}
