{{<org-template}}

{{$includes}}
  <script src="../js/members-template.js"></script>
  <script src="../js/members.js"></script>
  <script src="../js/live-search.js"></script>
{{/includes}}

{{$content}}
  <div class="clearfix">
    <div class="pull-left">
      <h1>All Organization Members</h1>
    </div>
    <div class="pull-right">
      <div class="clearfix">
        <button id="show-invite-members-button" class="btn pull-left btn-primary" data-toggle="modal" data-target="#add-members-modal">Invite Members</button>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="title">
      <div class="row">
        <div class="col-xs-8">
            <input type="text" class="form-control search" id="member-filter-string" autofocus placeholder="Search organization members">
        </div>
<!--
        <div class="col-xs-3 col-xs-offset-1">
          <div class="dropdown mt5">
            <a data-toggle="dropdown" class="form-control select" href="#">All Members</a>
            <ul class="dropdown-select dropdown-menu category-dropdown">
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
-->
      </div>
    </div>
    <ul class="users-list items"></ul>

    <div class="mt20">
      <div class="spinny"></div>
    </div>
  </div>
{{/content}}

{{$modals}}
  <div class="modal fade" id="invite-members-modal" tabindex="-1" role="dialog" aria-labelledby="invite-members-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="invite-members-title">Invite Organization Members</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label>Member's Emails to Invite</label>
              <input type="text" class="form-control" name="emails" placeholder="Enter Emails">
              <span class="help-block text-left">Tip: To send to multiple members, comma separate emails.</span>
            </div>
            <div class="form-group">
              <label>Email Message</label>
              <textarea class="form-control" name="message" placeholder="Enter Message"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-gray btn-sm" data-dismiss="modal">CANCEL</button>
          <button id="invite-members-button" class="btn btn-primary btn-sm">
            SEND INVITES
          </button>
        </div>
      </div>
    </div>
  </div>

<div id="delete-confirm-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Remove User</h4>
        </div>

        <div class="modal-body">
          <form id="remove-user-form" class="modal-form">
            <input name="email" type="hidden" />
          </form>

          <div class="delete-message"></div>
        </div>

        <div class="modal-footer">
          <a class="btn right" data-dismiss="modal">Cancel</a>
          <a id="remove-user-button" class="btn btn-primary" data-dismiss="modal">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/modals}}
{{/org-template}}
