{{<org-template}}
{{$includes}}
    <script type="text/javascript" src="../js/audit-template.js"></script>
    <script type="text/javascript" src="../js/audit-common.js"></script>
    <script type="text/javascript" src="../js/audit-admin.js"></script>
{{/includes}}

{{$content}}
  <h1>Audit Log</h1>
  <table class="table" id="audit-table">
  </table>
{{/content}}
{{/org-template}}
