{{<org-template}}

{{$includes}}
  <script src="../js/URI.js"></script>
  <script src="../js/domain.js"></script>
  <script src="../js/userdata.js"></script>
  <script src="../js/password-generator-lib.js"></script>
  <script src="../js/admin-manage-secret.js"></script>
  <script src="../js/admin-secret-common.js"></script>
  <script src="../js/secrets-common.js"></script>
  <script src="../js/secret-acl-template.js"></script>
  <script src="../js/add-acl-template.js"></script>
  <script src="../js/add-acl.js"></script>
  <script src="../js/add-members-template.js"></script>
  <script src="../js/live-search.js"></script>

{{/includes}}
{{$content}}
<div class="clearfix">
  <div class="pull-left">
    <h1 class="mb40">Manage Secret</h1>
  </div>

  <div class="pull-right">
    <div class="secret-org-dropdown-group form-group hide">
      <label class="pull-left secret-org-dropdown-label">Organization:</label>
      <div class="secret-org-dropdown org-dropdown dropdown pull-left ml">
        <a data-toggle="dropdown" class="form-control select" href="#"></a>
        <ul class="dropdown-select dropdown-menu category-dropdown">
        </ul>
      </div>
    </div>
  </div>
</div>

<input type="checkbox" id="is-secure-note" style="display:none">
<input type="checkbox" id="is-web-password" style="display:none">
<div class="well-border">
  <div class="well">
    <div class="row">
      <div class="form-group col-xs-5">
        <label>Name</label>
        <input type="text" class="form-control editable" id="secret-name">
      </div>
      <div class="form-group col-xs-7 for-manual">
        <label>Username</label>
        <div class="clearfix">
          <input type="text" class="form-control pull-left user mr editable" id="secret-username">
          <a href="#" class="secret-action-btn btn btn-white btn-mini pull-left" id="copy-username-button">COPY</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-5 for-manual">
        <label>Secret URL</label>
        <input type="text" class="form-control editable" id="secret-url">
      </div>
      <div class="form-group col-xs-7 for-manual">
        <label>Password</label>
        <div class="clearfix">
          <input type="text" class="form-control pull-left pass editable mr" id="secret-password" placeholder="(password not shown)">
          <a id="show-password-button" href="#" class="secret-action-btn btn btn-white btn-mini pull-left mr">SHOW</a>
          <a id="copy-password-button" href="#" class="secret-action-btn btn btn-white btn-mini pull-left">COPY</a>
        </div>
      </div>
    </div>
    <div id="is-not-viewable-row" class="row">
      <div class="form-group col-xs-5 for-manual">
      </div>
      <div class="form-group col-xs-7 for-manual">
        <table>
          <tr>
            <td valign="top" width="20px">
              <input type="checkbox" id="is-not-viewable">
            </td><td>
              <label id="is-not-viewable-label" style="display:inline; font-size:small;" for="is-not-viewable">Check to prevent non-admins from copying<br>or showing the password (recommended)</label>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 for-note">
        <label>Note</label>
        <textarea id="secret-note" class="editable form-control" rows="4"></textarea>
        <a id="show-note-button" href="#" class="btn btn-white btn-mini pull-left mr hide">SHOW</a>
      </div>
    </div>
  </div>
  <div class="well-footer">
    <div class="clearfix">
      <div class="pull-left link3">
        <a class="delete-secret-link" href="#">Delete Secret</a>
      </div>
      <div class="pull-right">
        <a href="#" style="display: none; margin-left: 10px" class="change-password-button btn btn-primary btn-sm">CHANGE PASSWORD ON SITE</a>
      </div>
      <div class="pull-right">
        <a href="#" style="display:none" class="apply-changes-button btn btn-primary btn-sm">APPLY CHANGES</a>
      </div>
    </div>
  </div>
</div>

<div class="list existing-teams" style="display:none">
  <div class="clearfix title">
    <div class="pull-left">Shared with Teams and Members</div>
    <div class="pull-right">
      <a class="small add-to-acl" href="#">ADD NEW <i class="ico ico-plus-simple"></i></a>
    </div>
  </div>
  <div class="items">
    <div id="secret-acl-groups-members">
    </div>
  </div>
  <div class="clearfix mt">
    <div class="pull-right" style="display:none">
      <a href="#" class="apply-changes-button btn btn-primary btn-sm">APPLY CHANGES</a>
    </div>
  </div>
</div>

<div class="list no-existing-teams" style="display:none">
  <div class="empty-rocket">
    <div class="title text-left">Shared with Teams and Members</div>
    <div class="text">
      <p>Now that you've created your secret, you can share it <br/>with your teams or members.</p>
      <a href="#" class="btn btn-white btn-sm mt add-to-acl">SHARE SECRET</a>
    </div>
  </div>
</div>
{{/content}}

{{$modals}}
  <div class="modal fade" id="add-secret-members-modal" tabindex="-1" role="dialog" aria-labelledby="add-secret-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="add-secret-title">Add Team or Members</h4>
        </div>
        <div class="modal-body">
            <input type="text" id="acl-item-search" class="form-control search" placeholder="Search organization users and groups">
          <div class="list mt">
            <div class="title"></div>
            <div id="acl-items" class="modal-list items" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gray btn-sm" data-dismiss="modal">CANCEL</button>
          <button style="display:none" type="button" id="save-new-acls-button" class="btn btn-primary btn-sm">SAVE</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
{{/modals}}

{{/org-template}}


