{{<org-template}}

{{$includes}}
  <script src="../js/URI.js"></script>
  <script src="../js/domain.js"></script>
  <script src="../js/live-search.js"></script>
  <script src="../js/secrets-template.js"></script>
  <script src="../js/secrets-common.js"></script>
  <script src="../js/secrets.js"></script>


  <script src="../js/tutorial-custom.js"></script>
  <link href="../css/tutorial-style.css" rel="stylesheet" media="screen">

{{/includes}}

{{$content}}
  <h1>My Secrets</h1>
  <div class="has-secrets list hide">
    <div class="title">
      <div class="row">
        <div class="col-xs-8">
          <input id="secret-filter-string" type="text" class="form-control search" autofocus placeholder="Search secrets">
        </div>
        <div class="col-xs-3 col-xs-offset-1">
          <div class="dropdown mt5">
            <a data-toggle="dropdown" class="form-control select" href="#">All Secrets</a>
            <ul class="dropdown-select dropdown-menu category-dropdown">
              <li><a href="#">All Secrets</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="secrets-list items"></div>
  </div>

  <div class="has-no-secrets list mt20 hide">
    <div class="empty-rocket">
      <div class="title"></div>
      <div class="text">
        <p>
          You have no secrets, let's add one.
          <br/>
          Adding secrets is super easy, we have two ways to do so, here's how
          <br/>
          <strong>Use our Extension or
            <a href="../html/admin-create-secret.html">Add it Manually</a>
          </strong>
        </p>
        <br>
        <br>
        <p>
          Migrating from another password manager?
          <br>
          Use our <strong><a href="../html/importer.html">Password Manager Importer</a></strong>.
        </p>
      </div>
    </div>
  </div>

  <div class="mt20">
    <div class="spinny"></div>
  </div>
{{/content}}

{{$modals}}
  <div class="modal fade" id="tutorial-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="tab-content">
                      <div class="tab-pane active" id="tab1">
                          <div class="clearfix">
                              <div class="col">
                                  <h2>Accessing Mitro</h2>
                                  <p>You should see a Mitro icon in your browser bar. Click the icon to access your secrets at any time.</p>
                              </div>
                              <div class="pull-right">
                                  <img src="../img/step1.png" alt=""/>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane text-center" id="tab2">
                          <img src="../img/step2.png" alt=""/>
                          <h2>Saving passwords</h2>
                          <p>As you sign in to services across the web,<br/>Mitro will ask to save your password.</p>
                      </div>
                      <div class="tab-pane text-center" id="tab3">
                          <h2 class="mtn">Signing in to sites</h2>
                          <p>When you return to that site, sign in with one click.<br/>It's that easy!</p>
                          <img src="../img/step3.png" alt=""/>
                      </div>
                      <div class="tab-pane" id="tab4">
                          <div class="clearfix">
                              <div class="pull-left">
                                  <img src="../img/step4.png" alt=""/>
                              </div>
                              <div class="col col2">
                                  <h2>Sharing</h2>
                                  <p>Have an account that your friends, family or co-workers need access to? Easily and securely share secrets with individuals or groups.</p>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane text-center" id="tab5">
                          <h2>Mitro for Organizations</h2>
                          <p>Managing a ton of passwords and accounts at work? Use Mitro for Organizations for better access control, speedier sharing, Google Apps sync, and more. Email us for more info.</p>
                          <!--<a href="#" class="btn btn-primary mt">Create an Organization</a>-->
                      </div>
                  </div>
                  <ul class="steps">
                      <li class="step active"></li>
                      <li class="step"></li>
                      <li class="step"></li>
                      <li class="step"></li>
                      <li class="step"></li>
                  </ul>
              </div>
              <div class="modal-footer">
                  <div class="clearfix">
                      <div class="pull-left">
                          <a href="#" class="link under" data-dismiss="modal">Skip Tutorial</a>
                      </div>
                      <div class="pull-right">
                          <div class="clearfix">
                              <button type="button" class="btn btn-gray btn-sm pull-left btn-step prev hidden">BACK</button>
                              <button type="button" class="btn btn-primary btn-sm pull-left btn-step next">NEXT</button>
                              <button type="button" class="btn btn-primary btn-sm pull-left done hidden" data-dismiss="modal">DONE!</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{{/modals}}
{{/org-template}}
