  <footer>
      <nav>
          <a href="http://blog.mitro.co/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://blog.mitro.co/']);">Blog</a>
          <a href="mailto:inbound@mitro.co" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'mailto:inbound@mitro.co']);">Contact</a>
          <a href="press.html">Press</a>
          <a href="faq.html">FAQ</a>
          <a href="privacy.html">Privacy</a>
          <a href="terms.html">Terms</a>
      </nav>
      <ul id="social" class="social-list">
          <li id="twitter"><a href="https://twitter.com/mitroco" target="_blank" class="icon-twitter" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://twitter.com/mitroco']);"></a></li>
          <li id="facebook"><a href="https://www.facebook.com/Mitro.co" target="_blank" class="icon-facebook" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://www.facebook.com/Mitro.co']);"></a></li>
          <li id="gplus"><a href="https://plus.google.com/+MitroCo/posts" target="_blank" class="icon-gplus" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://plus.google.com/+MitroCo/posts']);"></a></li>
      </ul>
  </footer>