  <header class="top-header">
    <a href="/" class="icon-logo"></a>
    <div id="tagline">
        The easiest way to remember & share passwords securely
    </div>
    <div class="btn-sm install-extension" onclick="_gaq.push(['_trackEvent', 'Extension', 'Install', 'Header Btn']);">
      Get Mitro <span>it's free</span>
    </div> 
  </header>