  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/conversion.js"></script>
  <script src="/js/querystring.js"></script>
  <script src="/js/detect.js"></script>
  <script src="/js/download.js"></script>