<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="description" content="">
  <title>{{$title}}Mitro{{/title}}</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{$includes}}
{{/includes}}

  <link href="../css/openaccess.css" rel="stylesheet" media="all">

<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Mitro Open Access" />
<meta property="og:url" content="https://www.mitro.co/openaccess" />
<meta property="og:title" content="Introducing Mitro Open Access" />
<meta property="og:description" content="Get free instant access to the newest startups without the hassle of signing up." />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="2014-02-06T20:58:15+00:00" />
<meta property="article:modified_time" content="2014-02-24T23:12:08+00:00" />
<meta property="og:image" content="https://www.mitro.co/img/mitroopenaccess.png" />
<meta name="twitter:title" content="Mitro Labs" />
<meta name="twitter:description" content="Get free instant access to the newest startups without the hassle of signing up." />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://www.mitro.co/img/mitroopenaccess.png" />
<meta name="description" content="Get free instant access to the newest startups without the hassle of signing up." />

<!-- Facebook Conversion Code for facebook pixel: registrations -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6013349995005';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6013349995005&amp;value=0&amp;currency=USD" /></noscript>

</head>

<body class="open-access">
  <img class="logo" src="../img/open-access-logo.png" alt="logo">

  <div class="description">
    <div>get instant access to the newest startups</div>
    <div>without the hassle of signing up</div>
  </div>

  <div class="signup">
{{$content}}
{{/content}}
  </div>

  <div class="info-footer">
    <div>Are you a startup?</div>
    <div><a class="openaccess" href="mailto:openaccess@mitro.co?subject=Mitro,%20please%20Open%20Access%20our%20startup!&amp;body=Hey%20Mitro,%20we'd%20like%20you%20to%20help%20us%20get%20more%20users%20by%20giving%20early%20adopters%20the%20easiest%20way%20to%20sign%20up%20for%20our%20product.%20All%20Mitro%20needs%20is%20a%20link%20to%20the%20sign%20up%20form%20for%20your%20startup,%20and%20we'll%20work%20our%20magic:%20insert%20your%20sign%20up%20page%20URL%20here">We help give people access to your product.</a></div>
  </div>

  <div class="info-footer">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.mitro.co/openaccess" data-text="Get instant access to the newest startups without the hassle of signing up with #MitroOpenAccess">Tweet</a>

    <div class="fb-like" data-href="https://www.mitro.co/openaccess" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>

<div id="fb-root"></div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=236089203236824";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- leadlander -->
<script type="text/javascript" language="javascript">llactid=25633</script> 
<script type="text/javascript" language="javascript" src="//trackalyzer.com/trackalyze_secure.js"></script>
<!-- end leadlander -->

</body>
</html>
