  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Mitro Password Manager" />
  <meta property="og:url" content="https://www.mitro.co" />
  <meta property="og:title" content="The easiest way to save and share passwords securely" />
  <meta property="og:description" content="The easiest way to discover and try new startups without signing up." />
  <meta property="og:type" content="website" />
  <!-- og:image:1 --><meta property="og:image" content="/img/ogMitroimage.png" />
  <meta name="twitter:site" content="@mitroco" />
  <meta name="twitter:title" content="Mitro Password Manager" />
  <meta name="twitter:description" content="The easiest way to save and share passwords securely" />
  <meta name="twitter:creator" content="@mitroco" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="/img/ogMitroimage.png" />
  <meta name="description" content="The easiest way to save and share passwords securely" />