{{<basic-web-template}}

{{$header}}
    {{<header-basic-template}}
   	{{$header-title}}404: Oops!{{/header-title}}
    {{/header-basic-template}}
{{/header}}

{{$content}}
    <div class="simple-container">
        <p>Sorry! We can't find what you seek.</p>
        <a class="button button-light button-med" href="/">Back to Mitro</a>
    </div>
{{/content}}

{{/basic-web-template}}