{{<primary-web-template}}
{{$content}}
<div class="banner">
<h1>Our Mission</h1>
</div>

<div id="content-body">
    <p class="hero">We believe that passwords should be a safe and easily shareable experience. We built Mitro to rid the world of emails, text documents, and post-it notes containing highly sensitive material such as passwords to web services and personal notes. We're based in New York, NY.</p>
    <p class="hero">We take security very seriously. If you've found a security-related issue, please contact us at <a href="mailto:security@mitro.co">security@mitro.co</a> (<a href="img/security_mitro_co.asc">PGP key</a>). We will respond as soon as possible, and publicly credit you on our <a href="http://labs.mitro.co/">blog</a>.</p>

    <div id="team">
        <h2>Team</h2>
        <div id="profiles">
            <div class="profile">
                <img class="profile-img" src="/img/team/team-vijay.jpg">
                <h4 class="profile-name">Vijay Pandurangan</h4>
                <p class="profile-text">Vijay learned how to build large software systems at <a href="https://encrypted.google.com">Google</a> from 2002-2008 and at <a href="http://pdl.cmu.edu">CMU</a>. He worked on cluster management, mobile apps before smartphones and AdWords. He was also the first engineer at <a href="http://en.wikipedia.org/wiki/Jumo">Jumo</a> (started by Facebook co-founder Chris Hughes), and worked with <a href="http://acumen.org/">Acumen Fund</a> (a socially responsible investment firm). He grew up in Montreal and is still a die-hard <a href="http://canadiens.nhl.com/">Canadiens</a> fan.</p>
            </div>
            <div class="profile">
                <img class="profile-img" src="/img/team/team-evan.jpg">
                <h4 class="profile-name">Evan Jones</h4>
                <p class="profile-text">Evan loves managing data, servers and code. Before Mitro, he earned a Ph.D. in Computer Science from MIT, <a href="http://db.csail.mit.edu/">researching how to make databases faster</a>. Before that, he met Adam and Vijay working at <a href="https://encrypted.google.com">Google</a> in New York, making improvements to web search such as supporting 20 new languages in the query typo corrector. Evan is the Mitro barista, although he is also the only one who drinks coffee.</p>
            </div>
            <div class="profile">
                <img class="profile-img" src="/img/team/team-adam.jpg">
                <h4 class="profile-name">Adam Hilss</h4>
                <p class="profile-text">Prior to Mitro, Adam founded a music startup, <a href="http://www.transitions.dj/">Transitions DJ</a>, combining his passions for machine learning and dance music. He also worked as a software engineer at Intel and Google. Adam has a BSE from the University of Michigan and an MS from UT, where he specialized in machine learning.  When he's not fixing Evan and Vijay's JavaScript bugs, Adam enjoys DJing and shooting pool.</p>
            </div>
            <div class="profile">
                <img class="profile-img" src="/img/team/team-christine.jpg">
                <h4 class="profile-name">Christine Tsai</h4>
                <p class="profile-text">Christine enjoys being creative and founded the online retail shop <a href="http://www.maigocute.com/">Maigo</a> to share all things cute. She holds degrees from Stanford & Columbia and has worked as a software engineer for Homestead (Intuit), Intuitive Surgical and Serious Eats.  During her free time she likes crafting and watching as many Broadway shows as possible.</p>
            </div>
        </div>
        <a href="/jobs.html" class="button button-light">We're hiring. Join the team!</a>
    </div>
</div>

{{/content}}
{{/primary-web-template}}
