{{<primary-web-template}}
{{$content}}
    <!-- Banner -->
    <div class="banner">
        <h1>Frequently Asked Questions</h1>
    </div>

    <div id="content-body">
        <h2>What is Mitro?</h2>
        <p> Mitro is the best way to securely store and share passwords. It automatically records your user names and passwords as you log in to new sites, offers to automatically log you into sites you've visited before, and allows you to securely share your passwords with your roommates, work team, or significant other. Mitro is a great way to securely store and share other secrets, like your driver's license number, or safe combination</P>
        <h2>Why Mitro?</h2>
        <p> Mitro was designed from the ground up to be both fully <a href="/secure.html">secure</a> and easy to use. Your data is encrypted before it ever leaves your computer, and we have no access to the data.</p>
        <h2>Who is Mitro for?</h2>
        <p> Mitro is for anyone who needs has trouble remembering or sharing their passwords. It works great for individuals as well as for teams.</P>
        <h2>How secure is Mitro?  </h2>
        <p> Mitro was designed with security in mind.  No password ever leaves your computer without first being encrypted with a key we do not have access to.  This document describes <a href="/secure.html">why Mitro is secure</a>. </p>
        
        <!--For Enterprise:-->
        <!--
        <h2>What size companies does Mitro support?</h2>
        <p> Mitro is designed to work well in all companies, from a two-person startup, to a 1000-person globally-distributed enterprise. We have a number of enterprise features which are in private alpha, so contact us if this would be of interest to you.</p>
        <h2>Do you do custom integration?</h2>
        <p> Absolutely. We're working on a number of custom deployments with large customers, and are able to accommodate many special needs. </p>
        <h2>Do you support syncing data from LDAP / Active Directory / Google Apps</h2>
        <p> We fully support synchronizing groups and users from LDAP, Active Directory and Google Apps as a paid feature. <a href="mailto:inbound@mitro.co" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'mailto:inbound@mitro.co']);">Contact us</a> for more information.</p>
        -->
    </div>

{{/content}}
{{/primary-web-template}}
