<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="description" content="The easiest way to save and share passwords. Remember and share everything from web accounts, credit cards, 2-factor backup codes, security question answers, and WiFi passwords.">
  <title>Mitro | The easiest way to save and share passwords</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->
  <link href="/css/home.css?v=2" rel="stylesheet" media="all">

  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Mitro Password Manager" />
  <meta property="og:url" content="https://www.mitro.co" />
  <meta property="og:title" content="The easiest way to save and share passwords securely" />
  <meta property="og:description" content="The easiest way to discover and try new startups without signing up." />
  <meta property="og:type" content="website" />
  <!-- og:image:1 --><meta property="og:image" content="/img/ogMitroimage.png" />
  <meta name="twitter:site" content="@mitroco" />
  <meta name="twitter:title" content="Mitro Password Manager" />
  <meta name="twitter:description" content="The easiest way to save and share passwords securely" />
  <meta name="twitter:creator" content="@mitroco" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="/img/ogMitroimage.png" />
  <meta name="description" content="The easiest way to save and share passwords securely" />

</head>

<body>
  <div id="wrap">
    <div id="content">

      <div id="sticky-header">
        <div class="icon-logomini">
        </div>
        <div id="tagline">
            The easiest way to remember &amp; share passwords securely
        </div>
        <a class="btn-sm install-extension" onclick="_gaq.push(['_trackEvent', 'Extension', 'Install', 'Homepage - Header Btn']);">
          Get Mitro <span>it's free</span>
        </a>
      </div>

      <div id="main">
        <div id="logo" class="icon-logo">
        </div>
        <div id="tagline">
            The easiest way to remember &amp; share passwords securely
        </div>
        <p style="font-size: 24px"><a href="https://github.com/mitro-co/mitro">Mitro is now Open Source!</a> Unfortunately, that means there is <em>no support</em></p>
        <p><em></p>
        <a class="btn-lg install-extension" onclick="_gaq.push(['_trackEvent', 'Extension', 'Install', 'Homepage - Main Btn']);">
          Get Mitro
        </a>
        <div id="msg">
          <div id="download">
              <span id="browser-detect"></span>
              <span id="browser-other"></span>
          </div>
        </div>
        <!--<div id="supporters">
          <a id="trusted-by"></a></li>
          <a href="http://stackoverflow.com/" id="stack-overflow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://stackoverflow.com/']);"></a>
          <a href="http://www.essencedigital.com/" id="essence" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://www.essencedigital.com/']);"></a>
          <a href="http://www.gv.com/" id="gv" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://www.gv.com/']);"></a></li>
          <a href="https://www.fitocracy.com/" id="fitocracy" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://www.fitocracy.com/']);"></a>
          <a href="http://architizer.com/" id="architizer" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://architizer.com/']);"></a>
        </div>-->
      </div>

      <section id="share">
        <h2>Still sharing passwords on a Google doc?</h2>
        <div class="section-body">
          <div class="section-body-col">
            <img src="/img/extension-2.png">
            <div class="icon icon-invitesolo"></div>
            Remember and share everything from web accounts, credit cards, 2-factor backup codes, security question answers, and WiFi passwords.
          </div>
          <div class="section-body-col">
            <img src="/img/extension-1.png">
            <div class="icon icon-timer"></div>
            Give colleagues, freelancers, and agencies temporary access to websites without exposing your password or requiring them to install software.
          </div>
          <div class="section-body-col">
            <img src="/img/extension-3.png">
            <div class="icon icon-connect"></div>
            Migrate easily from another password manager, CSV, or Google Docs.<br>
            Using Google Apps at work?<br>
            Share with just one click.
          </div>
        </div>
      </section>
      <section id="secure">
        <h2>So secure, even Mitro can't see your passwords</h2>
        <div class="section-body">
          <div class="section-body-col">
            <h3>Fully secure</h3>
            Your secrets are encrypted on your computer which ensures that Mitro never has access to your passwords.<br>
            <a href="secure.html" target="_blank">More security FAQs &raquo;</a>
          </div>
          <div class="section-body-col">
            <h3>Simple</h3>
            Just install our browser extension and you're good to go. Say goodbye to storing your passwords on post-it notes or spreadsheets.
          </div>
          <div class="section-body-col">
            <h3>Universal</h3>
            We're wherever you need us: Mitro works with every site on the web, and can also store & share offline secrets (like your locker combination).
          </div>
        </div>
        <img id="screenshot" src="/img/screenshot-extension.png">
      </section>
      <!--<section id="team">
        <h2>Built strong</h2>
        <div class="section-body">
          <div class="section-body-col">
            <img class="rounded" src="/img/team/team-vijay.jpg">
            <h3>Vijay Pandurangan</h3>
            Vijay built large software systems at Google from 2002-2008 and at CMU. He worked on cluster management, mobile apps before smartphones and AdWords.
          </div>
          <div class="section-body-col">
            <img class="rounded" src="/img/team/team-evan.jpg">
            <h3>Evan Jones</h3>
            Evan loves managing data, servers and code. Before Mitro, he earned a Ph.D. in Computer Science from MIT, researching how to make databases faster.
          </div>
          <div class="section-body-col">
            <img class="rounded" src="/img/team/team-adam.jpg">
            <h3>Adam Hilss</h3>
            Prior to Mitro, Adam founded Transitions DJ, combining his passion for machine learning and dance music. He also worked as a software engineer at Intel and Google. 
          </div>
          <div class="section-body-col">
            <img class="rounded" src="/img/team/team-christine.jpg">
            <h3>Christine Tsai</h3>
            Christine enjoys being creative and founded Maigo to share all things cute. She holds degrees from Stanford & Columbia and has worked for Homestead (Intuit) and Serious Eats.
          </div>
        </div>
      </section>-->
    </div>
  </div>

  <footer>
      <nav>
          <a href="http://blog.mitro.co/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://blog.mitro.co/']);">Blog</a>
          <a href="mailto:inbound@mitro.co" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'mailto:inbound@mitro.co']);">Contact</a>
          <a href="press.html" target="_blank">Press</a>
          <a href="faq.html" target="_blank">FAQ</a>
          <a href="privacy.html" target="_blank">Privacy</a>
          <a href="terms.html" target="_blank">Terms</a>
      </nav>
      <ul id="social">
          <li id="twitter"><a href="https://twitter.com/mitroco" target="_blank" class="icon-twitter" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://twitter.com/mitroco']);"></a></li>
          <li id="facebook"><a href="https://www.facebook.com/Mitro.co" target="_blank" class="icon-facebook" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://www.facebook.com/Mitro.co']);"></a></li>
          <li id="gplus"><a href="https://plus.google.com/+MitroCo/posts" target="_blank" class="icon-gplus" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'https://plus.google.com/+MitroCo/posts']);"></a></li>
      </ul>
  </footer>

  <!-- TODO - add tracking js that Vijay just added - CT -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/conversion.js"></script>
  <script src="/js/querystring.js"></script>
  <script src="/js/detect.js"></script>
  <script src="/js/download.js"></script>

  <script language="javascript" type="text/javascript">
    $(document).ready(function() {
      var registeredScroll = false;
      $(window).scroll(function() { // sticky header function
        var scrollTop = $(window).scrollTop();
        var stickyHeight = $('#sticky-header').height();
        var sectionTop = $('#share').offset().top - stickyHeight;
        if (scrollTop > sectionTop) {
          $('#sticky-header').show();
          if (registeredScroll === false) { // Track the scroll event if the user scrolls down enough to see header. Track once.
            _gaq.push(['_trackEvent', 'Behavior', 'Scroll', 'Homepage - Sticky Header']);
            registeredScroll = true;
          }
        } else {
          $('#sticky-header').hide();
        }
      });

      // detect browser and set messaging
      var browser = getBrowser().browser;
      if (browser === 'chrome') {
        $('#browser-detect').html('Download extension for Chrome');
        $('#browser-other').html('(Also available for Firefox / Safari)');
      } else if (browser === 'safari') {
        $('#browser-detect').html('Download extension for Safari');
        $('#browser-other').html('(Also available for Chrome / Firefox)');
      } else if (browser === 'firefox') {
        $('#browser-detect').html('BUG: Mitro doesn\'t work with Firefox 32 and later; Use Chrome or Firefox 31');
        $('#browser-other').html('(Also available for Chrome / Safari)');
      } else {
        $('#browser-detect').html('Sorry, this browser is not supported at this time');
        $('#browser-other').html('(Currently available for Chrome / Firefox / Safari)');
      }

      // Set height of main element to take up full height of browser window
      var windowHeight = $(window).height();
      var currentHeight = $('#main').outerHeight(true);
      if (windowHeight > currentHeight) { // only set the height if it's greater than the current height
        var diff = windowHeight - currentHeight;
        $('#main').height(windowHeight);
        $('#main').css('padding-top', parseInt($('#main').css('padding-top')) + diff/2);
        $('#supporters').css('padding-top', parseInt($('#supporters').css('padding-top')) + diff/2);
      }
    });
  </script>

{{> snippet-ga }}

{{> snippet-fb-conversion }}

</body>
</html>
