{{<basic-web-template}}

{{$header}}
    {{<header-basic-template}}
    {{/header-basic-template}}
{{/header}}

{{$content}}
    <div class="simple-wide-container">
        <div id="safari-instructions">
          <h2>Finish Installation</h2>
          <ol>
            <li>
              Click View -> Show Downloads in the menu
              <img src="/img/safari-screenshot-view-downloads-menu.jpg">
              <br>
              or click the Downloads button in the browser toolbar.
              <img src="/img/safari-screenshot-downloads-btn.jpg">
            </li>
            <li>
              Double-click on "mitro-safari-latest.safariextz".
            </li>
            <li>
              Click "Install" to complete the installation.
              <img src="/img/safari-screenshot-agree-install.jpg">
            </li>
          </ol>
        </div>
        <h2>Why do I need to install an extension?</h2>
        <div id="install-info">
	        <div class="pull-left">
	        	<img id="screenshot" src="/img/screenshot-extension.png">
	        </div>
	        <div class="pull-right">
		        <p>Mitro helps you manage and share your passwords easily and securely.  Our browser extension asks to save your passwords when you log in to websites and will automatically log you in during your next visit, so you don't have to memorize or type in your passwords all the time.<p>
		        <ul class="bulleted">
		        	<li>Securely share your accounts with others</li>
		        	<li>Works on multiple devices. Access your passwords anywhere</li>
		        	<li>Save secure notes, for secrets like locker combinations</li>
		        	<li>Protected with strong encryption on your computer</li>
		        </ul>
		    </div>
	   	</div>
        <a class="button install-extension" onclick="_gaq.push(['_trackEvent', 'Extension', 'Install', 'Install Page']);">
          Install Mitro
        </a>

        <span id="report-install-issue">Have a problem installing the extension?  <a href="mailto:inbound@mitro.co" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'mailto:inbound@mitro.co']);">Contact us!</a></span>
    </div>
{{/content}}

{{$js-includes}}
	{{> install-js-includes}}
	<script language="javascript" type="text/javascript">
    $(document).ready(function() {
      // detect browser and show special instructions for Safari browser
      var browser = getBrowser().browser;
      if (browser === 'safari') {
        $('#safari-instructions').show();
      } else {
        $('#safari-instructions').hide();
      }
    });
  </script>
{{/js-includes}}

{{/basic-web-template}}