{{<primary-web-template}}
{{$content}}
    <!-- Banner -->
    <div class="banner">
        <h1>Mitro is hiring!</h1>
    </div>

    <div id="content-body-wrapper">
        <div id="content-body">
            <p>
            Mitro is a four-person team solving how people manage, purchase, and collaborate across cloud applications like Google Apps, Salesforce and Dropbox. We are building the definitive identity layer for businesses of all sizes. Our first product is a password manager for teams with a simple and useful way to share access across multiple users.
            </p><p>
            Our team consists of three former Google software engineers and one former Serious Eats web engineer and we're based in New York City. We are looking for people who want to help make "business applications" not suck. As a small startup, we are looking for generalists who are willing to help with everything from server-side data storage through to interactive front-end UIs. We need people who can learn quickly, and have the initiative to work without much formal supervision. Our application is a browser extension, so familiarity with JavaScript and other web technologies would be useful.
            </p><p>
            We are located in NYC's financial district in an office with huge windows (lots of natural light), lots of coffee machines, catered lunch daily, and tons of snacks. All positions are on site, and applicants must be legally able to work in the United States (we are as disappointed about this as you are, since two of us are Canadian, but we can't afford the time and energy to figure out the US visa system at the moment).
            </p><p>
                Mitro is revolutionizing how people manage and purchase cloud applications like Google Apps, Salesforce and Dropbox. It gives users one-click access to all their services, and gives administrators a single place to create and delete accounts, control access, and see how much their services cost.
            </p>

            <br>

            <h3>Lead user experience / interaction designer</h3>

            <b>What You Will Be Doing:</b>
            <ul class="bulleted-list">
                <li> Work closely with our engineering team to own design and improve our product. 
                <li> Have primary responsibility for defining how Mitro works for both individuals and organizations.
                <li> Have ownership over the product roadmap. 
            </ul>

            <br>

            <b>Ideal Qualifications:</b>
            <ul class="bulleted-list">
                <li>Excited about a rapid pace of feature development.
                <li>Prior experience leading UX/interaction design is required. 
                <li>Prior experience performing user studies and feeding that research into informed design decisions is required.
                <li>Excellent communication skills: you will need to articulate design decisions to the entire team. 
                <li> Other product design skills, from copywriting, to visual design, to writing production front-end code.
            </ul>
            
            <br>

            <h3>Software engineer &ndash; JavaScript and web &ndash; full time</h3>

            <b>What You Will Be Doing:</b>
            <ul class="bulleted-list">
                <li>Building our rich, interactive UI in our browser extension and web site.</li>
                <li>Make our service work with all major browsers (Chrome, Firefox, Safari, IE).</li>
                <li>Support third-party services using OAuth, OpenID, SASL, and where necessary, "elegant" hacks.</li>
                <li>Launch fast and iterate often. We have the ability to get your ideas into our customers hands within a week.</li>
            </ul>

            <br>

            <b>Ideal Qualifications:</b>
            <ul class="bulleted-list">
                <li>BSc/BASc/BEng with a technical background (e.g. computer science) and strong academic record.</li>
                <li>Experience building rich web interfaces using JavaScript/HTML/CSS.</li>
                <li>Experience building browser extensions a plus.</li>
                <li>Interest in building apps people use to get work done.</li>
            </ul>

            <br>

            <h3>Software engineer &ndash; mobile &ndash; internship</h3>
            <p>
                We're looking for a top-notch software engineering intern to own the mobile experience (iOS and Android) for our product. You will build an app that makes it easy for teams and businesses to access all their applications from their phones. You will work with our entire team to make this happen. We're working with some of the best designers in New York who will help with the visual design. All three founders have substantial mobile programming experience, so we can hopefully help if you get stuck. You'll mostly need to know Objective-C and Java. Familiarity with Python and JavaScript would also be helpful.
            </p>
            <br>
            <b>Ideal Qualifications:</b>
            <ul class="bulleted-list">
                <li>BSc/BASc/BEng with a technical background (e.g. computer science) and strong academic record.</li>
                <li>Experience building mobile applications in Android and/or iOS.</li>
                <li>Interest in building apps people use to get work done.</li>
            </ul>
            <br>


            <h3>Software engineer &ndash; Cloud app integration &ndash; internship</h3>
            <p>
                We're looking for a top-notch software engineering intern to figure out how Mitro will integrate with third-party applications like Dropbox, Salesforce, and Asana. This will involve everything from extending the user interface of our product through to synchronizing data through a third-party API. You'll get some help from some of the best designers in New York on the UI and design side. All three founders are software engineers, so hopefully we can help when you get stuck. You'll mostly need to know JavaScript (we are using JQuery), but familiarity with Python and Java will be useful.
            </p>
            <br>

            <b>Ideal Qualifications:</b>
            <ul class="bulleted-list">
                <li>BSc/BASc/BEng with a technical background (e.g. computer science) and strong academic record.</li>
                <li>Experience building rich web interfaces using JavaScript/HTML/CSS.</li>
                <li>Interest in building apps people use to get work done.</li>
            </ul>
            <br>

            <p>Contact us at <a href="mailto:jobs@mitro.co">jobs@mitro.co</a></p>

        </div>
    </div>
{{/content}}
{{/primary-web-template}}
