{{<primary-web-template}}
{{$content}}
    <!-- Banner -->
    <div class="banner">
        <h1>Press</h1>
    </div>

    <div id="content-body">
        <ul class="links">
            <li><a href="http://netted.net/2014/06/30/mitro/?id=Today" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://www.netted.net']);">Mitro Lets Friends in and Shows Them Out</a> - Netted by the Webbys, June 30, 2014</li>
            <li><a href="http://www.glamour.com/sex-love-life/blogs/smitten/2014/06/it-takes-a-village-to-online-d.html" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://www.glamour.com']);">It Takes a Village to Online Date, at Least According to This New Service That Lets Friends Manage Your Profile</a> - Glamour Magazine, June 10, 2014</li>
            <li><a href="http://abcnews.go.com/Technology/friends-run-wild-online-dating-profile/story?id=24059649" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://abcnews.go.com']);">How to Let Your Friends (Sort Of) Run Wild With Your Online Dating Profile</a> - ABC News, June 9, 2014</li>
            <li><a href="http://techcrunch.com/2014/06/02/mitro-access-lets-you-give-someone-temporary-limited-access-to-your-online-accounts/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://techcrunch.com']);">Mitro Access Lets You Give Someone Temporary, Limited Access To Your Online Accounts</a> - Techcrunch, June 2, 2014</li>
            <li><a href="http://bowerycap.com/2014/05/28/the-ultimate-guide-to-startup-sales-tools/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://bowerycap.com']);">The Ultimate Guide To Startup Sales Tools</a> - Bowery Capital, May 28, 2014</li>
            <li><a href="http://techcrunch.com/2013/09/05/mitro-passwords/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound', 'Click', 'http://techcrunch.com']);">Get Your Friends, Co-Workers Out Of “Password Remembering Hell” With Matrix-Backed Mitro</a> - Techcrunch, September 5, 2013</li>
        </ul>
        <a class="button button-light button-lg" href="/img/mitro-press-kit.zip" onclick="_gaq.push(['_trackEvent', 'Files', 'Download', 'Mitro Press Kit']);">Download Press Kit</a>
    </div>
{{/content}}
{{/primary-web-template}}
