{{<primary-web-template}}
{{$content}}
    <div id="tutorial">
        <h1 id="tutorial-title">TITLE</h1>
        <p id="tutorial-caption"><strong>Caption</strong></p>
        <img id="tutorial-picture" class="screenshot-hero" />
        <a id="secure-why" href="/secure.html">This is secure. Why?</a>
        <a class="button button-light button-med">GOT IT!</a>
    </div>
{{/content}}

{{$js-includes}}
<script src="/js/tutorial.js"></script>
{{/js-includes}}

{{/primary-web-template}}
