{{<basic-web-template}}

{{$header}}
    {{<header-basic-template}}
   	{{$header-title}}Verified!{{/header-title}}
    {{/header-basic-template}}
{{/header}}

{{$content}}
    <div class="simple-container">
        <p>Thank you for verifying your new device.</p>
        <a class="button button-light button-med" href="/">Sign In</a>
    </div>
{{/content}}

{{/basic-web-template}}