<!DOCTYPE html>
<html>
<head></head>
<body style="margin: 0; padding: 0;">

<div style="background-color: #f6f7f9; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #4d5961; padding: 20px;"><div style="background-color: #fff; border: thin solid #ddd;">

<div style="background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; font-size: 31.5px; font-weight: bold; margin: 0; padding: 10px 0;" align="center">Mitro</div>

<div style="background-color: white; padding: 20px;">
<h1 style="font-size: 31.5px; font-weight: normal; color: #44a9f8; margin: 0;">Hello,</h1>

<p>To confirm that you want to sign in to Mitro on your new device, please follow this link:</p>

<p style="text-align: center;" align="center">
<a href="{{ verification_link }}"><button style="text-decoration: none; display: inline-block; cursor: pointer; color: #ffffff; background-color: #44a9f8; font-size: 17.5px; vertical-align: middle; line-height: 30px; border-radius: 6px; padding: 8px 40px; border: 0;">Verify</button></a>
</p>

<p style="text-align: center;" align="center"><a href="{{ verification_link }}">{{ verification_link }}</a>

</p>
<p>If you didn't intend to do this, please ignore this email. Thanks,</p>

<p>The Mitro Team</p>

<hr style="margin: 30px 0; border-color: #ddd; border-style: solid; border-width: 1px 0 0;">
</div>

<div style="background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; font-size: 31.5px; font-weight: bold; margin: 0; padding: 10px 0;" align="center">&nbsp;</div>

</div></div>
</body>
</html>
