<div style="background-color: #f6f7f9; padding-top: 20px; padding-left: 20px; padding-bottom: 20px; padding-right: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #4d5961;"><div style="background-color: #fff; border-right-style: solid; border-right-color: #ddd; border-bottom-color: #ddd; border-left-color: #ddd; border-top-style: solid; border-top-color: #ddd; border-bottom-style: solid; border-left-style: solid; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin;">

<div style="background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; padding-bottom: 10px; padding-right: 0; padding-top: 10px; padding-left: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; font-size: 31.5px; font-weight: bold;" align="center">Mitro</div>

<div style="background-color: white; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px;">
<h1 style="margin-left: 0; margin-bottom: 0; margin-right: 0; margin-top: 0; font-size: 31.5px; font-weight: normal; color: #44a9f8;">Hello,</h1>

<p>{{ sender_name }} has given you access to {{ service_name }} using Mitro, a brilliant solution for access control for teams. To access it, please log in with your Google Account.</p>

<p style="text-align: center;" align="center">
<a href="{{ login_url }}"><button style="text-decoration: none; display: inline-block; cursor: pointer; color: #ffffff; background-color: #44a9f8; border-bottom-width: 0; border-right-width: 0; border-top-width: 0; border-left-width: 0; padding-top: 8px; padding-right: 40px; padding-bottom: 8px; padding-left: 40px; font-size: 17.5px; vertical-align: middle; line-height: 30px; border-radius: 6px;">Login with Google</button></a>
</p>
<p style="text-align: center;" align="center">
<a style="color: #44a9f8;" href="{{ login_url }}">{{ login_url }}</a>
</p>

<p>Thanks,</p>

<p>The Mitro Team</p>

<hr style="border-top-style: solid; border-right-style: solid; border-left-style: solid; border-bottom-style: solid; border-top-color: #ddd; border-right-color: #ddd; border-bottom-color: #ddd; border-left-color: #ddd; border-right-width: 0; border-bottom-width: 0; border-top-width: 1px; border-left-width: 0; margin-left: 0; margin-bottom: 30px; margin-right: 0; margin-top: 30px;">
<h1 style="margin-left: 0; margin-bottom: 0; margin-right: 0; margin-top: 0; font-size: 31.5px; font-weight: normal; color: #44a9f8;">What is Mitro?</h1>

<p>Mitro allows teams to easily and securely share accounts for cloud services. Our dashboard gives you powerful management tools to control who has access to all your services.</p>
</div>

<div style="background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; padding-bottom: 10px; padding-right: 0; padding-top: 10px; padding-left: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; font-size: 31.5px; font-weight: bold;" align="center">&nbsp;</div>

</div></div>
