<!DOCTYPE html>
<html>
<head></head>
<body style="margin: 0; padding: 0;">

<div style="padding: 20px; background-color: #f6f7f9; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #4d5961;"><div style="background-color: #fff; border: thin solid #ddd;">

<div style="padding: 10px 0; margin: 0; background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; font-size: 31.5px; font-weight: bold;" align="center">Mitro</div>

<div style="background-color: white; padding: 20px;">
<h1 style="font-weight: normal; font-size: 31.5px; margin: 0; color: #44a9f8;">Hello,</h1>

<p>{{ sender_email }} has given you access to an account using Mitro, a brilliant solution for access control for teams. To access it, create an account with the following information:</p>

<p><b>Email address:</b> {{ recipient_email }}<br><b>Temporary password:</b> {{ temp_password }}<br></p>

<p style="text-align: center;" align="center">
<a href="{{ login_url }}"><button style="text-decoration: none; display: inline-block; cursor: pointer; color: #ffffff; background-color: #44a9f8; font-size: 17.5px; border: 0; padding: 8px 40px; vertical-align: middle; line-height: 30px; border-radius: 6px;">Create Account</button></a>
</p>
<p style="text-align: center;" align="center">
<a style="color: #44a9f8;" href="{{ login_url }}">{{ login_url }}</a>
</p>

<p>Thanks,</p>

<p>The Mitro Team</p>

<hr style="border-color: #ddd; margin: 30px 0; border-style: solid; border-width: 1px 0 0;">
<h1 style="font-weight: normal; font-size: 31.5px; margin: 0; color: #44a9f8;">What is Mitro?</h1>

<p>Mitro remembers all your passwords so you don't have to, and lets you easily and securely share accounts with others.</p>
</div>

<div style="padding: 10px 0; margin: 0; background-color: #4c5961; color: white; text-align: center; vertical-align: middle; width: 100%; font-size: 31.5px; font-weight: bold;" align="center">&nbsp;</div>

</div></div>
</body>
</html>
