<li data-entry="{{entry}}">
  <input type="checkbox" {{checked}} {{disabled}} >
  <img src="{{src}}" width="24" height="24">
  <div class="name">{{name}} </div>
  <div class="orgname"> {{orgname}} </div>
  <div class="email"></div>
</li>
