<div class="add-item acl-item member clearfix" data-user-id="{{name}}">
  <div class="text">
    <a href="#"> Click to add <strong><span class="name search-this-value">{{name}}</span></strong></a>
  </div>
</div>
