{{#items}}
<li class="admin-item">
  <a class="item-outer" href="{{url}}">
    <div class="item-inner">
      <div class="count">{{count}}</div>
      <div class="title">{{title}}</div>
    </div>
  </a>
</li>
{{/items}}
