<div class="modal fade" role="dialog" aria-labelledby="modal-title-id" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title-id">{{title}}</h4>
      </div>

      <div class="modal-body">
        <div class="modal-message">{{message}}</div>
      </div>

      <div class="modal-footer">
        <a class="btn btn-cancel right" data-dismiss="modal">{{cancelButtonText}}</a>
        <a class="btn btn-primary" data-dismiss="modal">{{primaryButtonText}}</a>
      </div>
    </div>
  </div>
</div>
