<div class="secret-item identity" data-secret-id="{{secretId}}">
  <div class="text">
    <div class="account" title="{{renderedTitle}}">{{renderedTitle}}</div>
    <div class="user" title="{{clientData.username}}">{{clientData.username}}</div>
  </div>
  <div class="edit secret-edit-action">
    <a href="#" title="Edit account">
      <span class="mitro-icon-edit"></span>
    </a>
  </div>
</div>

<div class="heading">
  <div class="left">
    <a href="#" class="back" data-open-pane="team" data-secret-id="{{secretId}}">
      <span class="mitro-icon-arrow-left"></span>back
    </a>
  </div>
  <h1>Invite</h1>
</div>
