{{#groups}}
<div class="item group-item {{#checked}}shared{{/checked}}" data-group-id={{groupId}}>
  <div class="details">
    <img class="image group-icon" src="{{image}}" data-icon-text="{{name}}">
    <div class="text name search-this-value">{{name}}</div>
  </div>
  <div class="action">
    {{#checked}}
    <a href="#" data-action="revoke">
      <span class="icon-check"></span>
    </a>
    {{/checked}}
    {{^checked}}
    <a href="#" data-action="grant">
      <span class="icon-add"></span>
    </a>
    {{/checked}}
  </div>
  <div class="overlay hide">
    <div class="left"><span class="revoke-msg">really remove </span><span class="revoke-name">{{name}}</span><span class="revoke-msg">?</span></div>
    <div class="right">
      <a href="#" data-action="cancel-revoke">cancel</a>
    </div>
  </div>
</div>
{{/groups}}

{{#users}}
<div class="item person-item {{#checked}}shared{{/checked}}" data-user-id={{userId}}>
  <div class="details">
    <img class="image user-icon" src="{{photo}}" data-icon-text="{{name}}">
    <div class="text name search-this-value">{{name}}</div>
  </div>
  <div class="action">
    {{#checked}}
    <a href="#" data-action="revoke">
      <span class="icon-check"></span>
    </a>
    {{/checked}}
    {{^checked}}
    <a href="#" data-action="grant">
      <span class="icon-add"></span>
    </a>
    {{/checked}}
  </div>
  <div class="overlay hide">
    <div class="left"><span class="revoke-msg">really remove </span><span class="revoke-name">{{name}}</span><span class="revoke-msg">?</span></div>
    <div class="right">
      <a href="#" data-action="cancel-revoke">cancel</a>
    </div>
  </div>
</div>
{{/users}}
