<thead>
  <tr>
    <th class="col1">Service Name</th>
    <th class="col2">Teams</th>
    <th class="col3">Members</th>
    <th class="col4">Last Accessed</th>
    <th class="col5">Last Edited</th>
    <th></th>
  </tr>
</thead>
{{#secrets}}
<tr>
  <td class="secret-title-cell">
    <strong class="title">{{renderedTitle}}</strong><br/>
    <a class="host link" href="{{hostname}}">{{host}}</a>
  </td>
  <td class="gray">{{groupCount}}</td>
  <td class="gray">{{userCount}}</td>
  <td>{{lastAccessedString}}</td>
  <td class="gray">{{lastModifiedString}}</td>
  <td><a href="../html/admin-manage-secret.html?secretId={{secretId}}" class="link2">Manage</a></td>
</tr>
{{/secrets}}
