{{#groups}}
<li class="acl-item team team-group">
  <div class="clearfix">
    <div class="type">
      <img class="team-icon" width="50" height="50" src="{{image}}" alt="" data-icon-text="{{name}}">
    </div>
    <div class="name search-this-value">{{name}}</div>

    <div class="clearfix pull-right actions">
      <div class="pull-left link2 ml">
        <a href="manage-team.html?id={{groupId}}">Manage</a>
      </div>

      <div class="pull-left remove">
        <a data-group-id="{{groupId}}" class="remove-user">
          <i class="ico ico-cross"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{{/groups}}

{{#users}}
<li class="member clearfix"">
  <div class="pull-left">
    <img class="member-icon" src="{{photo}}" alt="" width="45" height="45" data-icon-text="{{name}}"/>
  </div>

  <div class="text">
    <div class="name search-this-value">{{name}}</div>
    <div class="link search-this-value"><a href="#">{{email}}</a></div>
  </div>

  <div class="clearfix pull-right actions">
    <!--
    <div class="pull-left link2 ml">
      <a href="manage-member.html">Manage</a>
    </div>
    -->

    <div class="pull-left">
      <a data-user-id="{{userId}}" class="remove-user"><i class="ico ico-cross"></i></a>
    </div>
  </div>
</li>
{{/users}}
