{{#secrets}}
  <div class="secret clearfix" data-secret-id="{{secretId}}">
    <div class="pull-left">
      <img class="secret-icon" src="{{icon}}" data-icon-text="{{renderedTitle}}" width="32" height="32" alt=""/>
    </div>

    <div class="text text-full">
      <div class="name search-this-value">{{renderedTitle}}</div>
      <div class="link">
        <a class="search-this-value" href="{{clientData.loginUrl}}">{{host}}</a>
      </div>
      <div class="hide search-this-value">{{clientData.comment}}</div>
    </div>

    <div class="clearfix pull-right actions">
      <div class="pull-left link2">
        <a href="../html/admin-manage-secret.html?secretId={{secretId}}">Manage</a>
      </div>
      <div class="pull-left ml20" id="sign-in"><a href="#" class="action-button btn btn-mini btn-white">{{buttonLabel}}</a></div>
    </div>
  </div>
{{/secrets}}
