{{<open-access-template}}

{{$includes}}
  <script src="/js/querystring.js"></script>
  <script src="/js/detect.js"></script>
  <script src="/js/download.js"></script>
{{/includes}}

{{$content}}
    <div class="extension-download-form light">
      <div class="thank-you">Thank you.</div>
      <div class="download-label">
        Get one-click access to all your favorite services in your browser:
      </div>

      <button class="download-button install-extension field">
        Free Extension
      </button>
    </div>
{{/content}}

{{/open-access-template}}
