{{> header }}

<header class="simple-header">
  <a id="logo" class="icon-logo" href="/"></a>
  <h1>Error</h1>
</header>

<div class="simple-container">
    <p>{{errorMessage}}</p>
    <a class="button button-light button-med" href="mailto:inbound@mitro.co">Contact Us</a>
    <br>
    <a class="button button-light button-med" href="/">Back to Mitro</a>
</div>

{{> footer }}
