<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="description" content="">
  <title>{{$title}}Mitro{{/title}}</title>

  <script src="../js/config.js"></script>
  <script src="../js/logging.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/underscore-min.js"></script>
  <script src="../js/jquery.validate.min.js"></script>
  <script src="../js/hogan-template.js"></script>
  <script src="../js/admin-common.js"></script>
  <script src="../js/client.js"></script>
  <script src="../helpers_common.js"></script>
  <script src="../js/helpers.js"></script>
  <script src="../js/background_interface.js"></script>
  <script src="../js/background-init.js"></script>

  <link href="../css/site.css?v=2" rel="stylesheet" media="all">
{{$includes}}
{{/includes}}
</head>

<body>
  <div id="wrap">
  {{$header}}
  {{/header}}

  {{$content}}
  {{/content}}
  </div>
  {{> footer-basic-template}}
</body>

</html>
