  <footer>
      <nav>
          <a href="http://blog.mitro.co/" target="_blank">Blog</a>
          <a href="mailto:inbound@mitro.co">Contact</a>
          <a href="https://mitro.co/press.html" target="_blank">Press</a>
          <a href="https://mitro.co/faq.html" target="_blank">FAQ</a>
          <a href="https://mitro.co/privacy.html" target="_blank">Privacy</a>
          <a href="https://mitro.co/terms.html" target="_blank">Terms</a>
      </nav>
      <ul id="social" class="social-list">
          <li id="twitter"><a href="https://twitter.com/mitroco" target="_blank" class="icon-twitter"></a></li>
          <li id="facebook"><a href="https://www.facebook.com/Mitro.co" target="_blank" class="icon-facebook"></a></li>
          <li id="gplus"><a href="https://plus.google.com/+MitroCo/posts" target="_blank" class="icon-gplus"></a></li>
      </ul>
  </footer>